---
import Footer from "../components/elements/footer";
import Header from "../components/elements/header";
import BaseLayout from "../components/layouts/base";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>404 - Page not found | Logan Blangenois</title>
		<meta
			name="description"
			content="The list of what I'm using (hardware and software) for my job of Front-end developper."
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="/favicon/manifest.json" />
		<link
			rel="mask-icon"
			href="/favicon/safari-pinned-tab.svg"
			color="#2ecc71"
		/>
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<meta name="msapplication-TileColor" content="#2ecc71" />
		<meta name="msapplication-config" content="/favicon/browserconfig.xml" />
		<meta name="theme-color" content="#ffffff" />
	</head>

	<BaseLayout>
		<Header isHome={false} />

		<div class="px-6 md:px-20 xl:px-4 py-12 relative z-20">
			<main class="mx-auto max-w-[980px] prose">
				<div class="max-w-5xl mx-auto relative z-20">
					<h1
						class="text-black text-center text-4xl sm:text-5xl font-bold"
					>
						Oops, I think you're lost.
					</h1>
					<p class="text-center mx-0 my-0 !max-w-none">
						<a href="/">Go back home</a>
					</p>

					<img
						src="/images/404.svg"
						alt="humans"
						class="w-full h-auto mt-12 mx-auto max-w-[450px]"
					/>
				</div>
			</main>
		</div>
	</BaseLayout>


</html>
